# Copy and rename this file to .env
POSTGRES_USER=enter_username_here
POSTGRES_PASSWORD=enter_password_here
POSTGRES_DB=uce_trade_ms1

MYSQL_ROOT_PASSWORD=enter_password_here
MYSQL_DATABASE=uce_trade_ms2